.progress-bar {
  padding: 0;
}

.progress {
  width: 50px;
}


.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-form-field {
  width: 100%;
}

.mat-toolbar-single-row button {
  width: 100px;
}


.message-erro {
  background-color: #ff0000;
  font-weight: bold;
  padding: 15px;
  color: #000000;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 0.8;

}

.message-ok {
  background-color: #008000;
  font-weight: bold;
  padding: 15px;
  color: #000000;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 0.8;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}


.full-width {
  width: 40%;
}

.full-width-select-file {
  width: 85%;
}
