<form class="form"  [formGroup]="formControlPesquisa" (ngSubmit)="pesquisarTransacaoes()" >

 <div class="left-side">
  <h1>Consultar Transações</h1>
</div><hr><br>

  @if(message){   <div  class="message-alert">   {{ message }}   </div> }
  @if (erroMensagem){  <div class="message-erro">    {{ erroMensagem }}   </div> }


  <mat-grid-list cols="3" rowHeight="70px">

    <mat-grid-tile>
      <mat-form-field class="full-width"  >
        <mat-label>Empresa</mat-label>
        <input matInput placeholder="Empresa A"  formControlName ="companyName"   >
        @if(formControlPesquisa.get('companyName')?.errors?.hasOwnProperty('maxLength')){
          <mat-error>Tamanho maximo do campo excedido. (30 Caracteres)  </mat-error>
        }
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <mat-label>Cnpj</mat-label>
        <input matInput placeholder="98215352000100"  formControlName="companyId" >
        @if(formControlPesquisa.get('companyId')?.errors?.hasOwnProperty('pattern')){
          <mat-error>Tamanho do campo é de 14 Caractres numericos </mat-error>
        }
      </mat-form-field><br>



    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <mat-label>Conta Origem</mat-label>
        <input matInput placeholder="321518"  formControlName="accountOrigin">
        @if(formControlPesquisa.get('accountOrigin')?.errors?.hasOwnProperty('pattern')){
          <mat-error>Campo com valor ou tamanho incorreto. </mat-error>
        }
      </mat-form-field>
   </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <mat-label>Conta Destino</mat-label>
        <input matInput placeholder="321567"  formControlName="accountDestination">
        @if(formControlPesquisa.get('accountDestination')?.errors?.hasOwnProperty('pattern')){
          <mat-error>Campo com valor ou tamanho incorreto. </mat-error>
        }
      </mat-form-field>
   </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width" >
        <mat-label>Operção</mat-label>
        <mat-select formControlName="type" >
          <mat-option>--Selecione--</mat-option>
          @for (type of types; track types) {
            <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    </mat-grid-list>

  <div class="content-center-div">
    <button mat-fab extended color="primary" type="submit" [disabled]="formControlPesquisa.invalid" >
      Pesquisar
    </button>
    <button mat-fab extended color="primary" type="button"  (click)="limpar()" >
      Limpar
    </button>
  </div>

</form>
<br><br>



<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Empresa">
      <th mat-header-cell *matHeaderCellDef> Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element?.company?.companyName}} </td>
    </ng-container>

    <ng-container matColumnDef="Cnpj">
      <th mat-header-cell *matHeaderCellDef> Cnpj </th>
      <td mat-cell *matCellDef="let element"> {{element?.company?.companyId }} </td>
    </ng-container>

    <ng-container matColumnDef="Conta de Origem">
      <th mat-header-cell *matHeaderCellDef> Conta de Origem </th>
      <td mat-cell *matCellDef="let element"> {{element?.accountOrigin}} </td>
    </ng-container>

    <ng-container matColumnDef="Conta de Destino">
      <th mat-header-cell *matHeaderCellDef> Conta de Destino </th>
      <td mat-cell *matCellDef="let element"> {{element?.accountDestination }} </td>
    </ng-container>

    <ng-container matColumnDef="Tipo de Transação">
      <th mat-header-cell *matHeaderCellDef> Tipo de Transação </th>
      <td mat-cell *matCellDef="let element"> {{getType(element?.type)}} </td>
    </ng-container>

    <ng-container matColumnDef="Valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element?.value  | currency:'BRL'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 (page)=pesquisarTransacaoes()>
  </mat-paginator>

</div>

<!--<ngx-spinner type="ball-scale-multiple"></ngx-spinner>-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
