/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

.message {
  background-color: #008000;
  font-weight: bold;
  padding: 15px;
  color: #000000;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.message-alert {
  background-color: #daa520;;
  font-weight: bold;
  padding: 15px;
  color:  #000000;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 0.8;

}

.message-erro {
  background-color: #ff0000;
  font-weight: bold;
  padding: 15px;
  color: #000000;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 0.8;

}

